@import './progress-bar';

%cx-storefront {
  .theme-switcher {
    max-width: var(--cx-page-width-max);
    margin: 0 auto;
    position: relative;
    height: 0;
    &-btn {
      position: absolute;
      top: -182px;
      left: 140px;
      color: var(--cx-page-width-text);
      font-size: 15px;
      border: none;
      background: transparent;
    }
    &-options {
      display: none;
      position: absolute;
      top: -148px;
      left: 135px;
      background: var(--cx-color-results);
      color: var(--cx-color-text);
      font-size: 14px;
      border: 1px solid var(--cx-color-inverse);
      ul {
        list-style: none;
        padding: 10px;
        padding-left: 10px;
        margin-bottom: 0;
        a {
          cursor: pointer;

          &:hover{
            color: var(--cx-color-primary);
          }
        }
      }
    }
  }

  display: flex;
  flex-direction: column;
  min-height: 100vh;
  &:focus {
    outline: none;
  }

  &.start-navigating {
    @extend %progress-bar, %progress-bar-loading !optional;
  }
  &.stop-navigating {
    @extend %progress-bar, %progress-bar-loaded !optional;
  }

  > footer {
    margin-top: auto;

    cx-paragraph {
      p {
        margin-bottom: 0;
      }
    }
  }

  // prevents visible focus when the UI is not used by keyboard.
  .mouse-focus {
    :focus,
    .ng-select-focused {
      --cx-visual-focus-width: 0;
    }
  }
}
